# Rstudio files

.Rproj.user
.Rhistory
.RData
.Ruserdata
# Data files
data-raw/blockbuster_data.txt
blockbuster_data
.xlsx
det_data.txt
det_data_ajj.txt
missing_dtmc
2016-11-30-missing_dtmc.txt

#blockbuster_det_data.rda
inst/doc
building_component_life_summary.xls
data-raw/blockbuster_unit_quantity_methods.csv
Final_PDSP_Cost_model_4Q16.xlsx
data-raw/repair_costs_pre_tidy.csv
data-raw/repair_costs_tidy.csv
data-raw/missing_repair_costs.csv
data-raw/repair_costs_pre_tidy_with_missing_appended.csv
data-raw/building_component_lookup.csv
tests/testthat/repair_costs_pre_tidy_with_missing_appended.csv
tests/testthat/repair_costs_tidy.csv 

#elementid lookup overhaul
data-raw/det_data_elementid.txt

#benchmarking
data-raw/06_inferno_optimising_code.R

#tutorial
07_blockbuster_output_for_tutorial.R
08__bristol_bug_rebuild_vindicated.R
09_memory_usage.Rmd
# Packrat files
packrat/lib*/

# system
.DS_Store